.calculator-summary-info {
  font-size: 20px;
  padding: 5px 0;
  border: 5px solid rgba(182, 9, 43, 0.7);
  border-radius: 20px;
  padding: 15px 15px;
}

.calculator-summary-info-item {
  text-align: center;
  padding-top: 10px;
}
.calculator-summary-info-item-line {
  margin: 0 auto;
  display: block;
  height: 1px;
  width: 150px;
  background: rgb(155, 155, 155);
}
.calculator-summary {
  display: grid;
  grid-template-columns: auto auto;
}
.calculator-summary-info-item-value {
  padding-bottom: 10px;
  font-weight: bold;
}
.price-brutto {
  font-size: 120%;
}
.calculator-summary-info-item-value-brutto {
  font-weight: bold;
  color: rgb(182, 9, 43);
}
.price-netto {
  font-size: 90%;
  font-weight: bold;
  color: rgba(182, 9, 43, 0.6);
}
.calculator-summary-graph {
  max-width: 50%;
}

@media only screen and (max-width: 991.5px) {
  .calculator-summary {
    display: grid;
    grid-template-columns: auto;
  }
  .calculator-summary-graph {
    max-width: 300px;
    margin: auto auto;
  }
}
